:root {
    --heading-font-family: 'Montserrat', sans-serif;
    --default-font-family: 'Poppins', sans-serif;
    --primary-background-color: #ffffff;
    --secondary-background-color: #fe00a8;
    --first-text-color: #262626;
    --second-text-color: #ffffff;
    --third-text-color: #2c2c2c;
    --fourth-text-color: #f2f2f2;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: var(--default-font-family);
    
}
.hero {
    text-align: center;
    padding: 150px 10px;
    background-size: 1280px 360px;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.hero h1 {
    font-family: var(--heading-font-family);
    font-size: 48px;
    margin: 0;
    padding-bottom: 20px;
    color: var(--first-text-color);
}
.hero p {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 30px;
    margin: 0;
    color: var(--third-text-color);
}

.logo1{
    width: 220px;
    border-radius: 100px;

}

.homeLogo {
    width: 50px;
    border-radius: 100px;
}

.hero2 {
    padding: 150px 100px;
    text-align: center;
    background-color: var(--secondary-background-color);
    
    background-size: 1280px 602px;
}

.hero2 h2 {
    font-size: 36px;
    font-family: var(--heading-font-family);
    color: var(--second-text-color);
}
.hero2 p {
    font-size: 24px;
    font-family: var(--default-font-family);
    color: var(--fourth-text-color);
}

.hero3 {
    text-align: center;
    padding: 100px 20px;
    background-size: 1280px 800px;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.hero3 h2 {
    font-size: 36px;
    font-family: var(--heading-font-family);
    color: var(--first-text-color);
}


.hero3 h3 {
    font-family: var(--heading-font-family);
    font-size: 24px;
}

.hero3 p {
    font-size: 18px;
    font-family: var(--default-font-family);
    color: var(--third-text-color);
}

.hero3 a {
    color: var(--secondary-background-color);
}
.hero3 a:hover {
    font-weight: 1000;
    color: var(--secondary-background-color);
}


.hero4 {
    text-align: center;
    padding: 150px 20px;
    background-size: 1280px 360px;
    background-color: var(--secondary-background-color);
    color: var(--second-text-color);
}

.hero4 h1 {
    font-family: var(--heading-font-family);

}

.hero4 p {
    font-family: var(--default-font-family);
}

form {
    margin: 0 auto;
    width: 350px;
    text-align: left;
}
